{% extends "base.html" %}
{% block content %}
    <div class="row">
        <h1 style="display: block; text-align: center; text-decoration: none;"><a href="/blog">Home</a></h1>
        <h4 style="display: block; text-align: center; text-decoration: none;">Post your <span style="font-family: 'Great Vibes';font-size: 1.5em;">F</span>avorite <span style="font-family: 'RockSalt';font-size: 1.5em;">M</span>ovie <span style="font-family: 'Lobster';font-size: 1.5em;">Q</span>uote!</h4>
    </div>
    <br>
    <br>
    {% for p in posts %}
        {{ p.render() | safe }}
        <br>
        <br>
        <br>
    {% endfor %}
{% endblock %}
