<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
        <div class="user-icon" style="float:left;height:3em;width:3em;border-radius:1.5em;font-size:1em;color:white;" onload="addbg(event);"><p style="position:relative;font-size:3em;top:-0.25em;left:0.25em;">
            {% if p.author %}
            {% set x = p.author.split(",") %}
            {{ x[0][:1] }}
            {% endif %}
            </p></div>
        <h4 class="col-lg-6 col-md-4 col-sm-6 col-xs-12">{{p.subject}}</h4>
        <span style="float: right;" class="col-lg-2 col-md-4 col-sm-4 col-xs-12">-{{p.created.strftime("%b %d, %Y")}}</span>
            <input id="author" type="hidden" data-author="{{p.author}}">
            <input id="id" type="hidden" data-id="{{p.key().id()}}">
    </div>
</div>
<div class="row">
    <div id="post-body" class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
        <hr style="border:1px solid gray;">
        <p style="padding-left: 3em;padding-right: 3em;">{{p._render_text | safe}}</p>
        <br>
        <div style="float: right;">
            <a id="edit" href="/blog/{{p.key().id()}}">EDIT</a>{{error}}
            <form method='post' action='/blog'><input id='postid' type='hidden' name='postid' value='{{p.key().id()}}'><input type='hidden' name='author' value='{{p.author}}'><input type='hidden' name='addlike' value='{{p.key().id()}}'>
            <input class="likes" style="position:relative;background:none;border:none;padding:0;" type="submit" value="LIKES">
            <span style="position:relative;color:blue;" id="likes"> - {{ p.likes }}</span>
            </form>
        </div>
    </div>
</div>  