{% extends "base.html" %}

{% block content %}
    {% if loggedin and username %}
        {{ post.render() | safe }}
        <br>
        <br>
        {{ post.render_edit() | safe }}
        <script>
            (function(){
                $("#edit").remove();
                var did = $('#id').data('id');
                console.log(did);
                $('#post-body').append("<br><form method='post' action='/blog/"+did+"')'><input type='hidden' name='erase' value='"+did+"'><a><input type='submit' style='background: none;border: none;margin:0;padding:0;color:red;' value='DELETE POST'></a></form><a id='btb' href='/blog'>CANCEL</a>");
            })();
        </script>
    <!--
            <script>
                $("#edit").remove();
                $('#wrapper').append("<span style='color: red;'>You must be the owner of this post to alter it.</span>");
            </script>
    -->
        {% endif %}
        <p id="error" style="color: red;">{{msg}}</p>
{% endblock %}